/* ----------------------------------------------------------------------------------------
                                         global page styles
---------------------------------------------------------------------------------------- */

/*********************************************  HEADINGS  ***********************************************/

  h1 {font-family: "notera_2"; font-size: 50px;}
  h2 {font-family: "bulmer-italic_2"; font-size: 1em; text-transform: uppercase}
  h3 {font-family: "brandon-black_2"; font-size: 2em;}
  h4 {font-family: "bulmer-italic_2"; font-size: 1em; text-transform: uppercase; line-height: 1;}
  h5 {font-family: "volta_2"; font-size: 1em;}

  p {font-family: "bulmer-regular_2"; font-size: 1em;}


/*********************************************  NORMALIZE AND MEDIA QUERIES  ***********************************************/

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.wrapper{
  width:1600px;
  border:solid 1px;
  min-height:100px;
  margin:0 auto;
}

/*********************************************  SPACING  ***********************************************/

section{margin: 50px; height:100%;color: white; padding: 50px;}


@media screen and (max-width: 1600px) {
  .wrapper{ width:1200px;}
}

@media screen and (max-width: 1200px) {
  .wrapper{ width:1000px;}
}

@media screen and (max-width:1000px) {
  .wrapper{ width:100%;}
}
