/* ----------------------------------------------------------------------------------------
                                         individual page styles
---------------------------------------------------------------------------------------- */

/*-----------------------------------  Headings ---------------------------------------- */

#headings{background-color: #405952; color: white;}
.container{background-color: inherit; width: 50%; margin: 0 auto; padding: 20px;}

/*-----------------------------------  Layout ---------------------------------------- */

#layout{background-color: #9C9B7A; display: block; padding: 50px;}
.card{width: 80%; display: flex; justify-content: space-between; margin: 50px auto;}
.card--light{background-color: white;}
.card--dark{background-color: teal;}
  .card__section{width: 50%; height: 100%;}
    .card__main-img{width: 200px; height: 100%; margin: 20px;}
    .card__copy{padding: 20px;}

/*-----------------------------------  Animation ---------------------------------------- */

#animation{background-color: #FFD393}

/*-----------------------------------  Aspect-Ratio ---------------------------------------- */

#aspect-ratio{background-color: #FF974F}

/*-----------------------------------  Lazy Load ---------------------------------------- */

#lazy-load{background-color: #FCCA46}

/*-----------------------------------  Popup ---------------------------------------- */

#popup{background-color: #FF974F}

/*-----------------------------------  Scroll ---------------------------------------- */

#scroll{background-color: #A1C181}
