/* ----------------------------------------------------------------------------------------
                                         individual page styles
---------------------------------------------------------------------------------------- */

/*-----------------------------------  Headings ---------------------------------------- */

#headings{background-color: #405952; color: white;}
.container{background-color: inherit; width: 50%; margin: 0 auto; padding: 20px;}

/*-----------------------------------  Layout ---------------------------------------- */
/*Question - How do I make the whole card responsive instead of just the images?*/
#layout{background-color: #9C9B7A; display: block;}
.card{width: 80%; display: flex; justify-content: space-between; margin: 50px auto;}
.card--light{background-color: white;}
.card--dark{background-color: teal;}
  .card__section{width: 50%; height: 100%;}
    .card__main-img{width: 200px; height: 100%; margin: 20px;}
    .card__copy{padding: 20px;}

    @media screen and (max-width: 1200px) {
      .card__main-img{width: 100px; margin: 10px;}
    }

    @media screen and (max-width:1000px) {
      .card__main-img{width: 50px; margin: 5px;}
    }

/*-----------------------------------  Aspect-Ratio ---------------------------------------- */

#aspect-ratio{background-color: #FF974F;}
.aspect-ratio__grandparent{width:800px; max-width:90%; margin:0 auto; padding: 50px;}
.aspect-ratio__parent{width:100%; padding-top:calc(100% / 16 * 9); position:relative;}
iframe{width:100%; height:100%; position:absolute; top:0; left:0;}

/*-----------------------------------  Animation ---------------------------------------- */

#animation{background-color: #FFD393}

/*-----------------------------------  Lazy Load ---------------------------------------- */

#lazy-load{background-color: #FCCA46}

/*-----------------------------------  Popup ---------------------------------------- */

#popup{background-color: #FF974F}

/*-----------------------------------  Scroll ---------------------------------------- */

#scroll{background-color: #A1C181}
