/* ----------------------------------------------------------------------------------------
                                         individual page styles
---------------------------------------------------------------------------------------- */

/*-----------------------------------  Headings ---------------------------------------- */

#headings{background-color: #405952; color: white;}
.container{background-color: inherit; width: 50%; margin: 0 auto; padding: 20px;}

/*-----------------------------------  Layout ---------------------------------------- */
/*Question - How do I make the whole card responsive instead of just the images?*/
#layout{background-color: #9C9B7A; display: block;}
.card{width: 80%; display: flex; justify-content: space-between; margin: 50px auto;}
.card--light{background-color: white; color:teal;}
.card--dark{background-color: teal;}
  .card__section{width: 50%; height: 100%;}
    .card__main-img{width: 200px; height: 100%; margin: 20px;}
    .card__copy{padding: 20px;}

    @media screen and (max-width: 1200px) {
      .card__main-img{width: 100px; margin: 10px;}
    }

    @media screen and (max-width:1000px) {
      .card__main-img{width: 50px; margin: 5px;}
    }

/*-----------------------------------  Aspect-Ratio ---------------------------------------- */

#aspect-ratio{background-color: #FF974F;}
.aspect-ratio__grandparent{width:800px; max-width:90%; margin:0 auto; padding: 50px;}
.aspect-ratio__parent{width:100%; padding-top:calc(100% / 16 * 9); position:relative;}
iframe{width:100%; height:100%; position:absolute; top:0; left:0;}

/*-----------------------------------  Lazy Load ---------------------------------------- */

#lazy-load{background-color: #FCCA46}
img{width: 300px; margin: 10px; min-height: 100px; vertical-align: top;}
.hidden{display: none;}

/*-----------------------------------  Scroll ---------------------------------------- */

#scroll{background-color: #A1C181;}
.button{position: fixed; width: 120px; white-space: nowrap; height: 60px; background-color: purple; opacity: 0; transition: opacity 1s; padding: 20px; right: 200px; top: 20px; z-index: 10;}
.show{opacity: 1;}

#scroll p {padding: 20px; margin: 10px;}
#scroll p:nth-of-type(1){border: 5px solid  #405952;}
#scroll p:nth-of-type(2){border: 5px solid  #9C9B7A;}
#scroll p:nth-of-type(3){border: 5px solid #FF974F;}
#scroll p:nth-of-type(4){border: 5px solid #FCCA46;}
#scroll p:nth-of-type(5){border: 5px solid #FF974F;}
#scroll p:nth-of-type(6){border: 5px solid #FFD393;}


/*-----------------------------------  Popup ---------------------------------------- */

#popup{background-color: #FF974F; height: 600px; position: relative;}
.popup-window{background-color: #9C9B7A; margin-top: 50px; width: 60%; padding: 30px; position: absolute;  right: -2000px; transition: 1s;}

.popup-window--active{right: 300px;}

/*-----------------------------------  Animation ---------------------------------------- */

#animation{background-color: #FFD393}
.icon{}
  .icon__symbol{}
  .icon__symbol p {width: 100px; height: 50px; background-color: lavender; }
